<div class = 'col-xs-12'>
  <p class = "tittle_home" style = 'padding-left: 20px'>検索結果：<%= @contents.count%>件</p>
</div>

<% if @search_content == 'user'%>
  <%= render 'users/users/user_index',users: @contents%>

<% elsif @search_content == 'post'%>
  <%= render 'posts/user_posts',posts: @contents%>

<% end %>