/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';

a{
  color: white;
}
html,body,.container-fluid,.row{
  height: 100%;
}

body{
  background-color:black;
}

.main_line{
  border-bottom: solid 1px;
}

.row{
  margin: 0 auto;
}

.time_line{
  height: 100%;
  border-left: solid 1px;
  border-right: solid 1px;
}

.home_button{
  font-size: 25px;
  padding-top: 10px;
}

.home_button{
  font-size: 25px;
  padding-top: 10px;
}

.scroll {
  overflow-y: auto;
}

.height-fixed {
  height: 99vh;
}

.no_line{
  text-decoration: none;
}

.home_icon{
  padding-left: 60px;
}

#search_word{
  width: 70%;
}

.search_submit{
  border-radius: 5px;
}

.search_content{
  padding: 5px 0px 5px 0px;
  
}