// Place all the styles related to the users/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_form{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
}

.input_post{
  background-color:rgb(83, 83, 83);
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
}

#user_posts{
  word-break: break-word;
}

.post_sentence{
  font-size: 15px;
  color: rgb(184, 184, 184);
  min-height: 200px;
  text-decoration: none;
  padding: 10px 0;
}
.post_container{
  border-bottom: solid 1px;
  padding: 0;
}

.user_icon{
  padding-top: 15px;
}

.form_container{
  padding: 0;
  border-bottom: solid 1px;
}

.user_back_image{
  width: 100%;
  height: 200px;
  background-color:gray;
}

.user_info{
  margin-top: 35px;
  padding-bottom: 20px;
  color: white;
  background-color: black;
  border-bottom: solid 1px;
}

.rounded_corners{
  border-radius: 25%;
}

.tittle_home{
  font-size:20px;
  padding-top:15px;
  padding-bottom:15px;
  color:white;
  border-bottom: solid 1px;
  border-color: rgb(184, 184, 184);
  margin: 0 -15px;
}

.icon_position{
  position: absolute;
  top: 130px;
  left: 20px;
}

.iamge_file_button{
  cursor: pointer;
  i {
    font-size: 2.0em;
    color:white;
  }
  &--default {
    display: none;
  }
}

.iamge_icon_button{
  cursor: pointer;
  i {
    font-size: 1.5em;
    color:blue;
  }
  &--default {
    display: none;
  }
}

.image_icon_position{
  position: absolute;
  top: -70px;
  left: 54px;
}

.image_file_position{
  position: absolute;
  top: 90px;
  left: 54px;
}

.roll_image_position{
  position: absolute;
  top: -160px;
  left: 45%;
}

.roll_iamge_icon_button{
  cursor: pointer;
  i {
    font-size: 3.0em;
    color:blue;
  }
  &--default {
    display: none;
  }
}

.user_icon_border{
  border: 3px;
  padding: 3px;
  background-color: black;
}

.profile_field{
  background-color:rgb(83, 83, 83);
}