// Place all the styles related to the users/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body,.container,.row{
  height: 100%;
}

.main_line{
  border-bottom: solid 1px;
}

.home_button{
  font-size: 25px;
  padding-top: 10px;
  
}

.row{
  margin: 0 auto;
}

.col-xs-6{
  height: 100%;
  border-left: solid 1px;
  border-right: solid 1px;
}

.new_form{
  border-bottom: solid 1px;
  border-bottom: solid 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
}

.input_post{
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
}

#user_posts{
  word-break: break-word;
}

.post_sentence{
  font-size: 15px;
  color: rgb(184, 184, 184);
  min-height: 200px;
  text-decoration: none;
  padding: 5px 0;
}
.post_container{
  border-bottom: solid 1px;
  padding: 0;
}