// Place all the styles related to the users/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body,.container,.row{
  height: 100%;
}

.main_line{
  border-bottom: solid 1px;
}

.col-xs-6{
  height: 100%;
  border-left: solid 1px;
  border-right: solid 1px;
}

.new_form{
  border-bottom: solid 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
}

.input_post{
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
}